<form id="login_form" ng-submit="lf.login_user()">
	<label for="email">E-mail</label>
	<div class="input-group">
		<span class="input-group-addon">@</span>
		<input type="email" class="form-control" id="email" ng-model="lf.params.email" required placeholder="E-mail">
	</div>
	<br>
	<label for="password">Password</label>
	<div class="input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
		<input type="password" class="form-control" id="password" ng-model="lf.params.password" required placeholder="Password">
	</div>
	<br>
	<div style="text-align: center; width: 100%">
		<button type="submit" class="btn btn-primary" ng-disabled="lf.signinInProgress" style="width: 120px">
			<span ng-show="!lf.signinInProgress">Sign in</span>
			<span ng-show="lf.signinInProgress">Signing in...</span>
		</button>
	</div>
</form>

<div class="alert alert-warning" ng-show="lf.error">{{lf.errorText}}</div>
